/* Css Del Index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #2F4550; 
    color: #FCF7FF;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;    
}

header {
    background-image: url('https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg');
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FCF7FF; 
    padding: 0; 
    margin: 0; 
}

nav {
    background-color: #2F4550; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    color: #FCF7FF; 
}

footer {
    background: #586F7C;    
    color: #FCF7FF;         
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.nav-logo {
    font-size: 1.5rem;
    color: #FCF7FF; 
    font-weight: bold;
    margin-right: 1rem;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu a {
    color: #FCF7FF;           
    text-decoration: none;
    font-weight: bold;
    padding: 0.1rem 1rem;
    border: 0.2rem solid #C4CAD0; 
    border-radius: 5px;
    background-color: #2F4550;
}

.menu a:hover {
    background-color: #C4CAD0;
    color: #000000;
}

.personal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}
.staff{
    background: #FCF7FF;
    border: 4px solid #C4CAD0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    color: #2F4550;
}
.staff img {
    object-position: top;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid #586F7C; 
}
.equipo{
    background: #586F7C;  
    border: 4px solid #C4CAD0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 10px;
    width: 100%;
    margin: 2rem auto;
    color: #FCF7FF;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        padding: 0;
    }

    .menu li {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .nav-logo {
        font-size: 1.3rem;
    }

    nav {
        padding: 0.5rem 1rem;
    }

    .menu {
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu a {
        padding: 0.2rem 1.2rem;
        font-size: 1rem;
    }

    header {
        padding: 1.5rem;
        height: 350px;
        flex-direction: column;
    }

    .eslogan h1 {
        font-size: 1.6rem;
    }

    .eslogan p {
        font-size: 1rem;
    }
}